// Colors
$light-bg: #ECEFF4;
$text-color: #202020;
$tiny-text-color: #9A9A9A;

// breakponts
$breakpoint-xs: 360px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;


