// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@import 'assets/styles/variables';
@import 'assets/styles/utilities';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$primary: mat.m2-define-palette(mat.$m2-deep-purple-palette, 500);
$accent:  mat.m2-define-palette(mat.$m2-blue-gray-palette, A200);
$warn:    mat.m2-define-palette(mat.$m2-red-palette);

// Define the theme object.
$theme: mat.m2-define-light-theme((
        color: (primary: $primary, accent: $accent, warn: $warn),
        density: 0,
));



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
    @include mat.all-component-themes($theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($frontend-test-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($frontend-test-theme);
/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $light-bg;

    // Affects all Material buttons
    .mat-mdc-button-base {
        border-radius: 0.375rem !important;
    }
}
