<mat-button-toggle-group
        [value]="preferredView"
        (change)="onViewChange($event.value)"
        aria-label="View mode"
        appearance="standard"
>
    <mat-button-toggle value="card">
        <mat-icon>grid_view</mat-icon>
    </mat-button-toggle>

    <mat-button-toggle value="table">
        <mat-icon>list</mat-icon>
    </mat-button-toggle>
</mat-button-toggle-group>

<mat-form-field appearance="outline" subscriptSizing="dynamic" class="search">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Search...</mat-label>
    <input matInput [formControl]="searchControl" />
</mat-form-field>

<button mat-raised-button color="primary" (click)="openCreateDialog()">
    New planet
</button>