@import "../../../../assets/styles/variables";

.planets-grid {
    display: grid;
    grid-gap: 1.25rem;
    align-items: stretch;
    
    @media screen and (min-width: $breakpoint-sm) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $breakpoint-lg) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: $breakpoint-xl) {
        grid-template-columns: repeat(4, 1fr);
    }
    
    app-planet-card {
        height: 100%;
    }
}