<header>
    @if (headerStateService.headerState(); as header) {
        <h1>{{ header.title }}</h1>

        <div class="toolbar">
            @if (header.toolbarType === ToolbarType.BROWSE) {
                <app-browse-toolbar></app-browse-toolbar>
            }
            @if (header.toolbarType === ToolbarType.DETAILS) {
                <app-details-toolbar [planet]="(header.item!)"></app-details-toolbar>
            }
        </div>
    }
</header>

<article>
    <router-outlet></router-outlet>
</article>

